.menu{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.iphone{
    height: auto;
    width: 500px;
}

.iphone img{
    position: absolute;
    left: 20.8%;
    top: 4.2%;
}

.slide{
    position: absolute;
    left:30%;
    top:18%;
    margin-left: 9.2px;
    margin-top: 4px;
   
}


.login{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 51.4%;
    top: 8.3%;
    position: absolute;
    text-align: center;
    height: 375px;
    width: 345px;
    border-style: solid;
    border-color: rgb(226, 226, 226);
    border-width: 1.5px;
}

.login h1{
    padding: 24px;
    margin-top: 3.5px;
    margin-bottom: 9px;
    margin-right: 4px;
}

#dados input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 8.5px;
    width: 257px;
    height: 30px;
    font-size: 12px;
    background-color: rgba(var(--b3f,250,250,250),1);
    border: 1px solid #dbdbdb;
    

}

#botao-entrar button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 6px;
    width: 268px;
    border-style: none;
    color: white;
    background-color: rgb(178, 223, 252);
    font-size: 14px;
    height: 30px;
    border-radius: 3px;
}

#botao-entrar button:hover{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 6px;
    width: 265px;
    border-style: none;
    color: white;
    background-color: rgb(0, 149, 246);
    font-size: 14px;
    height: 30px;
    border-radius: 3px;

}

#ou{
    font-weight: 600;
    color: #8e8e8e;
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
    
}

#facebook img{
    text-align: center;
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

#facebook p{
    color: #385185;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}

#facebook a{
    text-decoration: none;
}

#esqueceu a{
    text-decoration: none;
    font-size: 12px;
    color: #385185;
}

#esqueceu{
    margin-top: 20px;
}

.cadastrar{
    
    text-align: center;
    position: absolute;
    width: 345px;
    height: 60px;
    border-style: solid;
    border-color: rgb(226, 226, 226);
    border-width: 1.5px;
    left: 51.4%;
    top: 65%;
    


}

.cadastrar p{
    font-family: 'Segoe UI';
    font-size: 14px;
    margin-top: 22px;
}

.cadastrar a{
    text-decoration: none;
    color: rgb(0, 149, 246);
    font-weight: 600;
}

.obtenha {
    position: absolute;
    left: 58%;
    top:77%;
    text-align: center;
    font-size: 14px;
    margin-left: 5px;
}

.mobile{
    position: absolute;
    left: 53%;
    top: 82%;
}
.mobile img{
    width: 140px;
    height: 40px;
    margin-left: 5px;
}