body{
    background: rgb (250,250,250);
    margin: 0%;
}

header{
    text-align: left;
    border-top-style: solid;
    border-top-width:1px;
    border-bottom-style: inset;
    border-color: rgb(216, 216, 216);
    border-bottom-width: 1px;
   
}

#botaoinsta{
    block-size: 32px;
    margin-top: 10px;
    margin-left: 16%;
    margin-right: 17.5%;
}

#pesquisar{
  margin-bottom: 6px;
  margin-right: 13%;

}

#fotoperfil{
    border-radius: 85%;
    block-size: 135px;
    padding: 30px;
    margin-left: 20%;
    display: inline-block;
}

#nomeusuario{
    
}